.grid-container {

    margin: 3%;
}
.right-col{
    display: flex;
    flex: 1;
  }
  @media screen and (max-width: 500px) {
    .image {
      width: 80vw;
      height: 87vw;
    }
    .right-col {
      display: block;
    }
  
}