$margin-padding: 15px;

.container{
    display: flex;
    padding: $margin-padding;
}

@media screen and (max-width: 500px) {
    .image {
      width: 80vw;
      height: 87vw;
    }
    .container {
      display: block;
      padding: $margin-padding;
    }
}